    <!--boton de retorno-->
    <div  style="position: absolute; top: 180px; right: 700px;flex-wrap: wrap;">
    <button mat-raised-button color="primary" routerLink="/roles">
    <mat-icon>arrow_back</mat-icon> Regresar</button>
    </div> 

<div  class="container">

    <div  style="text-align: center;margin:5%" *ngIf="!edicion"><h1>Registro de Roles</h1></div>
    <div  style="text-align: center;margin:5%" *ngIf="edicion"><h1>Actualizar Rol</h1></div>
    <div style="text-align: center;margin:5%" class="form-box">
    <form [formGroup]="form"  (submit)="aceptar()">    
       
    <br>
        <mat-form-field  *ngIf="edicion"> 
          <mat-label>Código_ID</mat-label>
           <input matInput  formControlName="Codigo" [readonly]="true">   
        </mat-form-field>   <!-- es por defecto sin validacion -->

    <br>
        <mat-form-field>
          <mat-label>ROL</mat-label>
           <input matInput  formControlName="Tipo_de_Rol">  

           <mat-error *ngIf="form.get('Tipo_de_Rol')?.hasError('required')">   
              El nombre del ROL es obligatorio!
           </mat-error>

            <mat-error *ngIf="form.get('Tipo_de_Rol')?.hasError('maxlength')">
                Máximo 15 caracteres
            </mat-error>

            <mat-error *ngIf="form.get('Tipo_de_Rol')?.hasError('pattern')">
                Solo se permiten letras (sin números ni símbolos)
            </mat-error>      
  
        </mat-form-field>
    <br>
        <button matButton="filled" [disabled]="form.invalid" *ngIf="!edicion">Registrar</button>
        <button matButton="filled" [disabled]="form.invalid" *ngIf="edicion">Actualizar</button>
    </form>
    </div>

</div>