<div class="container">
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="primary" routerLink="/roles/nuevo">
    Nuevo Rol
  </button>
</div>

<!--cant de registros mostrar-->
<div class="cantidad">
  <mat-icon>format_list_numbered</mat-icon>
  Cantidad de registros en la lista: {{cantidadRegistros}}
</div>

<div><h1>Listar Roles</h1></div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> Número ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id_rol}} </td>
  </ng-container>

  <!---ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> Tipo de Rol</th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_rol}} </td>
  </!---ng-container--->
  
<ng-container matColumnDef="c2">
  <th mat-header-cell *matHeaderCellDef> Tipo de Rol </th>
  <td mat-cell *matCellDef="let element">
    <ng-container *ngIf="element.tipo_rol === 'ROLE_ADMIN'">Administrador</ng-container>
    <ng-container *ngIf="element.tipo_rol === 'ROLE_PADRE_FAMILIA'">Padre de Familia</ng-container>
    <ng-container *ngIf="element.tipo_rol === 'ROLE_INDEPENDIENTE'">Independiente</ng-container>
    <ng-container *ngIf="element.tipo_rol !== 'ROLE_ADMIN' 
                      && element.tipo_rol !== 'ROLE_PADRE_FAMILIA' 
                      && element.tipo_rol !== 'ROLE_INDEPENDIENTE'">{{ element.tipo_rol }}</ng-container>
  </td>
</ng-container>
  
  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton [routerLink]="['ediciones',element.id_rol]">
        Actualizar <mat-icon>edit</mat-icon>
       </button>  
    
    </td>
  </ng-container>

  
    <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton (click)="eliminar(element.id_rol)">
        Eliminar<mat-icon>delete</mat-icon>
       </button>  
    
    </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of anuncios">
</mat-paginator>

</div>
</div>
