<div class="container">
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="primary" routerLink="/zonasdetec/nuevo">
    Nueva Zona Detección 
  </button>
</div>

<!--cant de registros mostrar-->
<div class="cantidad">
  <mat-icon>format_list_numbered</mat-icon>
  Cantidad de registros en la lista: {{cantidadRegistros}}
</div>

<div><h1>Listar Zonas Detección </h1></div>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> Número de ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id_zona}} </td>
  </ng-container>

   <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> Nombre de la Zona </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_zona}} </td>
  </ng-container>

  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Coordenada </th>
    <td mat-cell *matCellDef="let element"> {{element.coordenada_zona}} </td>
  </ng-container>

   <!---ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Monitoreo</th>
    <td mat-cell *matCellDef="let element"> {{element.monitoreoActivo_zona}} </td>
  </!---ng-container--->

  <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Monitoreo </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.monitoreoActivo_zona">Activado</ng-container>
      <ng-container *ngIf="!element.monitoreoActivo_zona">Desactivado</ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Inmueble Asociado </th>
    <td mat-cell *matCellDef="let element"> {{element.id_inmueble.nombre_inmueble}} </td>
  </ng-container>

  <!-- Ver Mapa -->
  <ng-container matColumnDef="cMapa">
    <th mat-header-cell *matHeaderCellDef> Ver Mapa </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="verEnMapa(element.coordenada_zona, element.id_zona)">
        <mat-icon>satellite</mat-icon>      
      </button>

    <!-- Mensaje de coordenada inválida -->
    <span *ngIf="coordInvalid.has(element.id_zona)" style="color: red; font-weight: bold; margin-left: 10px;">
    Coordenada inválida
    </span>
    <!-- Mensaje de Monitoreo NO ACTIVO -->
    <span *ngIf="actMonit.has(element.id_zona)" style="color: red; font-weight: bold; margin-left: 10px;">
    Monitoreo NO ACTIVO 
    </span>
      <!-- Muestra el mapa solo si este ID coincide -->
    <mat-card *ngIf="idMapaVisible === element.id_zona && !actMonit.has(element.id_zona)" style="margin-top: 10px">
        <iframe
          width="100%" height="250"
          [src]="urlMapa"
          frameborder="0"
          style="border:0;"
          allowfullscreen
          loading="lazy">
        </iframe>
      </mat-card>
    </td>
  </ng-container>

  <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton [routerLink]="['ediciones',element.id_zona]">
        Actualizar <mat-icon>edit</mat-icon>
       </button>  
    
    </td>
  </ng-container>
  
    <ng-container matColumnDef="c7">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton (click)="eliminar(element.id_zona)">
        Eliminar<mat-icon>delete</mat-icon>
       </button>  
    
    </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of anuncios">
 </mat-paginator>

</div>
</div>
