<div class="container">
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="primary" routerLink="/reconocimientos/nuevo">
    Nuevo Reconocimientos
  </button>
</div>

<!--cant de registros mostrar-->
<div class="cantidad">
  <mat-icon>format_list_numbered</mat-icon>
  Cantidad de registros en la lista: {{cantidadRegistros}}
</div>

<!--busqueda por Tipo Evento-->
<div class="busqueda"><h1>Búsqueda por Tipo Evento</h1></div>
  <div>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Tipo Evento: </mat-label>
                <input matInput formControlName="tipoA">
            </mat-form-field>   
        </form>
        <div *ngIf="notResults" style="text-align:left; color: red;">
        <p>No se encontraron resultados</p>
  </div>  
</div>

<div><h1>Listar Reconocimientos</h1></div>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> Número de ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id_reconocimiento}} </td>
  </ng-container>

   <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> IMG  </th>
    <td mat-cell *matCellDef="let element"> {{element.img_url_reconocimiento}} </td>
  </ng-container>

  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> IDENTIFICADO </th>
    <!--td mat-cell *matCellDef="let element"> {{element.identificado_reconocimiento}} </!--td-->
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.identificado_reconocimiento">SI</ng-container>
      <ng-container *ngIf="!element.identificado_reconocimiento">NO</ng-container>
    </td>
  </ng-container>

   <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Fecha y Hora </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fechaHora_reconocimiento?.split('T')[0] }} {{ element.fechaHora_reconocimiento?.split('T')[1]?.substring(0,5) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Evento dispositivo Asociado </th>
    <td mat-cell *matCellDef="let element"> {{element.id_evento_dispositivo.tipo_evento}} </td>
  </ng-container>

  <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton [routerLink]="['ediciones',element.id_reconocimiento]">
        Actualizar <mat-icon>edit</mat-icon>
       </button>  
    
    </td>
  </ng-container>
  
    <ng-container matColumnDef="c7" *ngIf="verificar()">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton (click)="eliminar(element.id_reconocimiento)"
       [disabled]="!isAdmin()"
       [matTooltip]="isAdmin() ? '' : 'No tiene permisos para eliminar'">
        Eliminar<mat-icon>delete</mat-icon>
       </button>  
    
    </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of anuncios">
 </mat-paginator>

</div>
</div>

